.mainNav {
    display: flex;
    gap: 30px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    
}

.navLink {
    text-decoration: none;
    color: #3f5c15;

}

.active {
    color: rgb(83 130 113);
   
    text-decoration: overline;
}